mat-icon {
    cursor: pointer;
}

:host {
    display: flex;
    flex-direction: column;
    section.actions {
        align-self: flex-end;

        button[mat-fab] {
            margin: 12px;
        }
    }
}